.chat{
    max-height: 100vh;
}
.messages{
    height:88vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.inputs{
    height: 60px;
    display: flex;
}
.name, .send{
    width: 15vw;
}
.message{
    
    flex-grow: 1;
}