.message, .message_from_me{
    max-width: 40vw;
    word-wrap: break-word;
    margin: 5px 0;
}
.message{
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color:cornflowerblue;
}
.message_from_me{
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color:chartreuse;
    margin-left:auto;
}
.message_from_server{
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color:coral;
    margin:auto;
}